@import "tailwindcss";

/**************Home******************/
.head{
  background: linear-gradient(to right bottom, rgb(54, 157, 188) , rgb(26, 95, 109));
  width: 100%;
  padding: 1%;
  box-shadow: 1px 2px 5px rgb(18, 68, 78);
}
.head h1 {
  text-shadow: -2px -1px 1px rgb(26, 95, 109);
}

